asgiref==3.11.1
Django==4.2.29
django-cors-headers==4.9.0
django-environ==0.14.0
django-filter==25.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
pillow==11.3.0
pyjwt==2.13.0
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
